
/* 颜色 */
//$color-primary:#409EFF;
//$color-warning: #E6A23C;
//$color-success: #67C23A;
//$color-danger: #F56C6C;
//$color-disabled: #909399;

$color-primary: #00CD7A;
$color-warning: #FF9936;
$color-success: #4A90E3;
$color-danger: #EF465D;
$color-disabled: #909399;

/* 基础背景色 */
$background-color: #F8F8FA;
$module-color: #fff;
$background-color-liner: #F1F6FA;


/*  表格头颜色 */
$table-background: #ebf2fc;
$table-background-hover: #f8f8f8;

/* 字体颜色 */
$text-primary: #333;
$text-second: #666;
$text-third: #999;
$text-fourth: #C0C4CC;

/*线条 */
$line-color: #DCDFE6;
$border-base: #ebeef5;

/* 字号 */
$font-main-title: 20px;
$font-sub-title: 18px;
$font-min-title: 16px;
$font-size-base: 14px;
$font-size-small: 13px;
$font-default: 12px;

